#root {
  background-color: #b4a4bb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

form.add-todo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 5px;
}

.nav, .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  height: 80px;
  background-color: black;
  column-gap: 10px;
  color: white;
}

.profile {
  padding-right: 0px;
}

.todo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 70%;
}

.logo, .title {
  font-family: "Bungee Shade", cursive;
  font-size: 38px;
}

.logo {
  color: white;
}

.todo-items,
.nav,
.trip-list {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
}

.trip-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  column-gap: 10px;
  width: 95%;
  font-size: 16px;
}

.trip-photo {
  width: 180px;
  height: auto;
}